*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mainMenuTitle;
    src: url(./assets/fonts/AbrilFatface-Regular.ttf);
  }

:root {
    font-size: 16pt;
    line-height: 1;
    font-family: mainMenuTitle;
    background: rgb(0,10,0);
    background: -moz-linear-gradient(180deg, rgb(0, 10, 0) 0%, rgb(0, 20, 0) 50%, rgb(0, 30, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,10,0,1) 0%, rgba(0,20,0,1) 50%, rgba(0,30,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,10,0,1) 0%, rgba(0,20,0,1) 50%, rgba(0,30,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000a00",endColorstr="#001400",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001400",endColorstr="#001e00",GradientType=1);
    color: beige;
    
}

h1 {
    font-size: 3.5rem;
    font-family: mainMenuTitle;
    letter-spacing: -10px;
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.399);
}
p {
    font-size: 1rem;
    letter-spacing: -1px;
    border-bottom: 1px solid beige;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:active {
    color: rgb(0, 45, 0);
}
a:active > p {
    border-bottom: 1px solid rgb(0, 45, 0);
}
.box img {
    height: 100%;
    width: auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.445));
    filter: blur(2px);
    opacity: 0.75;
    position: absolute;
    top: 0;
    z-index: -1;
}
.view {
    position:relative;
}
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    background-color: beige;
    color: rgb(0,10,0);
}


#scroll-down {
    font-size: 0.6rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}
.icon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon > img {
    height: 100%;
    width: auto;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0;
    z-index: 2;
    position: relative;
    margin-top: -100vh;
}
.box > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100vh;
    position: relative;
}
.box > div > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.day-1, .day-3, .day-5 {
    left: 0;
    text-align: right;
}
.day-2, .day-4 {
    flex-direction: row-reverse;
    text-align: left;
}
.day-1 > div, .day-3 > div, .day-5 > div {
    align-items: flex-end;
}
.day-2 > div, .day-4 > div {
    align-items: flex-start;
}
.day-1 > img, .day-3 > img, .day-5 > img {
    left: 0;
}
.day-2 > img, .day-4 > img {
    right: 0;
}


.box p:hover {
    color: green;
}

.space {
    height: 40vh;
}

#by-ninki {
    color: rgb(77, 82, 77);
}


body {
    position: relative;
}
dialog[open] {
    outline: 0;
    border: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: transparent;
    position: absolute;
    top:0;
    display: flex;
    align-items: end;
    justify-content: center;
}

::backdrop {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.55);
}

#look {
    position: relative;
    min-height: 100%;
    width: 98%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: beige;
    overflow: hidden;
    box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.434);
}

#look p {
    border: 0;
}

#look .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: rgb(199, 216, 250);
    box-shadow: 0px 12px 30px -2px black;
    z-index: 11;
}

#look .header > h1 {
    z-index: 10;
    letter-spacing: -5px;
    text-align: center;
    color: rgb(0, 20, 0);
}

#look .header-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#look .header-image > img {
    height: 70%;
    width: auto;
    filter: drop-shadow(2px 2px 10x black);
}
#look .paired-with {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: rgb(220, 228, 245);
    height: 5vh;
    width: 5vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#look .paired-with .image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(10deg) translateY(-5px);
}
#look .paired-with .image > img {
    height: auto;
    width: 135%;
}

#look .description {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    position: relative;
}
#look .description p {
    font-size: 1.5rem;
    border: 0;
    color: rgb(0, 20, 0);
}

#look .description span {
    height: 4px;
    width: 50px;
    background-color: black;
    position: absolute;
}
.line-above {
    top: -10px;
    left: 0;
}

#close-icon {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 0.7rem;
    width: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    cursor: pointer;
}

#close-hint {
    position: absolute;
    z-index: 999;
    top: calc(10px + 0.15rem);
    right: calc(10px + 0.7rem + 5px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 0.5rem;
    width: fit-content;
    line-height: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.5rem;
}